{% extends 'base.html' %}

{% block title %}Pet Details{% endblock %}
{% block content %}
    <h1>Pet Details</h1>
    <img src="{{ pet.photo_url }}" alt="">
    <h2>Name: {{ pet.name }}</h2>
    <p>Species: {{ pet.species }}</p>
    <p>Age: {{ pet.age }}</p>
    <form action="/{{ pet.id }}" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field }}

                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endfor %}
        <a class="btn btn-warning" href="/">Cancel</a>
        <button class="btn btn-info">Save</button>
    </form>
{% endblock %}